<ion-header>
  <ion-toolbar>
    <ion-title>Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


</ion-content>
<form>

  <div >
    De seu feedback:
    <ion-textarea rows="4" ></ion-textarea>

  </div>

  <div >
    Nome:
    <ion-input  type="text" ></ion-input>

  </div>
  <div >
    <ion-button href="cadastro"> Cadastro</ion-button>
    <ion-button href="/"> voltar</ion-button>
<!--

  <fb:login-button 
    scope="public_profile,email"
    onlogin="checkLoginState();">
  </fb:login-button>
-->
    
  </div>
</form>